# This is a basic workflow to help you get started with Actions

name: Learn Bicep

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
#  push:
#    branches: [ "main" ]
#  pull_request:
#    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      RGName:
        description: 'Resource group name'
        required: true
      Pillar:
        description: 'Pillar'
        required: true
      environment:
        description: 'Environment to deploy RG'
        type: environment
        required: true

env:
  region: "westeurope"
  releaseBundlePath: "release-bundle"
  functionAppName: "resource-group-provisioner"
  bicepFilePath: "./main.bicep"
  #functionAppPackagePath: "ResourceGroupProvisioner/src"
  #functionAppRoleAddScrip: "ResourceGroupProvisioner/adRoleAssignmentToFunction.ps1"

#name: Resource Group Provisioner Actions - Test
jobs:
  validate:
    runs-on: ubuntu-latest
    name: "Validate bicep files"
    steps:
      - uses: actions/checkout@v3

      - name: Run Bicep linter
        run: az bicep build --file $bicepFilePath

      - uses: azure/login@v1
        name: Run azure login
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set subscription
        run: az account set --subscription "Pay-As-You-Go"

      - uses: azure/arm-deploy@v1
        name: Run validation
        with:
          scope: subscription
          region: ${{ env.region }}
          template: ${{ env.bicepFilePath }}
          deploymentMode: Validate
          deploymentName: rg-provisioner-deployment-${{ github.run_number }}

      - uses: azure/arm-deploy@v1
        name: Run plan
        with:
          scope: subscription
          region: ${{ env.region }}
          template: ${{ env.bicepFilePath }}
          deploymentName: rg-provisioner-deployment-${{ github.run_number }}
          additionalArguments: --what-if
          
      - uses: azure/arm-deploy@v1
        name: Run deploy
        with:
          scope: subscription
          region: ${{ env.region }}
          template: ${{ env.bicepFilePath }}
          deploymentName: rg-provisioner-deployment-${{ github.run_number }}
  
